@import '../../../assets/styles.scss';

.settingsMenu {
    & p {
        cursor: pointer;
        border-radius: $general-border-radius;
        border: $general-border;
        padding: 10px;
        background-color: $general-background;
    }
    & .changeLanguageDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .languagewitch {
            & img {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                position: absolute;
                top: 6.5px;
                &:first-of-type {
                    left: 6.5px;
                }
                &:last-of-type {
                    right: 6.5px;
                }
            }
        }
    }
    & .showHideFoundedCardsDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & p {
            cursor: default;
        }
        & .switch {
            & .switchButton {
                color: rgb(32, 32, 32);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }
        }
    }
}

.switch {
    margin-left: 5px;
    cursor: pointer;
    width: 70px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    background-color: rgb(51, 51, 51);
    transition: .4s;
    & .switchButton {
        position: absolute;
        top: 6.5px;
        left: 6.5px;
        background-color: white;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        transition: .4s;
    }
}