@import '../../../assets/styles.scss';
.boardOfThemes {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: $general-border-radius;
    justify-content: space-evenly;
    flex-wrap: wrap;
    & div {
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: $general-border-radius;
        &.selectedTheme {
            // box-sizing: border-box;
            // border: 7px solid gold;
            position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 30px;
            left: 20px;
            width: 40px;
            height: 15px;
            transform: rotate(-45deg);
            border-bottom: 10px solid $general-background;
            border-left: 10px solid $general-background;
        }
        }
    }
}