.cardFromDeck {
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    & img {
        width: 100%;
    }
}

@keyframes entered {
    from {
        opacity: 0;
        transform: translate(30px, -30px);
    }
    to {
        opacity: 1;
        transform: translateY(0, 0);
    }
}
