.cardFromDeck {
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    position: relative;
    & img {
        position: absolute;
        width: 100%;
    }
}

@keyframes entered {
    from {
        opacity: 0;
        transform: translate(30px, -30px);
    }
    to {
        opacity: 1;
        transform: translateY(0, 0);
    }
}

@keyframes leaving {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
