@import '../../../assets/styles.scss';

.selectNumOfPairsBoard {
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: $general-border-radius;
    justify-content: space-evenly;
    flex-wrap: wrap;
    & div {
        font-size: 18px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        &.currentSetting::after {
            content: '';
            position: absolute;
            bottom: 5px;
            width: 45px;
            border: 2px solid gold;
        }
    }
}