@import '../../../assets/styles.scss';

.selectCardsSizeBoard {
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: $general-border-radius;
    justify-content: space-evenly;
    flex-wrap: wrap;
    & div {
        box-shadow: inset 0 0 10px 10px white;
        box-sizing: border-box;
        font-size: 20px;
        // margin: 10px;
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.currentSetting {
            border-bottom: 4px solid gold;
        }
    }
}
