body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hammersmith One', sans-serif;
}

$general-background: rgba(255, 255, 255, 0.664);
$general-border-radius: 10px;
$general-border: 2px solid white;
